<div  class="example-container">
  <mat-toolbar class="example-toolbar">
    <mat-icon (click)="isExpanded = !isExpanded">menu</mat-icon>
    <span class="example-fill-remaining-space"></span>
    <a routerLink="/login" mat-list-item>
      <mat-icon style="color: white;" mat-list-icon>login</mat-icon>

    </a>
  </mat-toolbar>

  <mat-sidenav-container  class="example-sidenav-container" autosize>
    <mat-sidenav  #sidenav class="example-sidenav" mode="side" opened="true">
      <mat-nav-list  class="dashboard">
        <a routerLink="/boshSahifa" (click)="toggleActive($event)" mat-list-item>
          <mat-icon  mat-list-icon>home</mat-icon>
          <p matLine *ngIf="isExpanded">bosh sahifa</p>
        </a>

        <mat-divider></mat-divider>

        <a mat-list-item routerLink="/oqituvchilar" (click)="toggleActive($event)">
          <mat-icon mat-list-icon>account_box</mat-icon>
          <p matLine *ngIf="isExpanded">O'qituvchilar</p>
        </a>
        <a mat-list-item (click)="toggleActive($event)" routerLink="/oquvchilar">
          <mat-icon mat-list-icon>supervisor_account</mat-icon>
          <p matLine *ngIf="isExpanded">O'quvchilar</p>
        </a>


        <a mat-list-item (click)="toggleActive($event)" routerLink="/sinf">
          <mat-icon mat-list-icon>wc</mat-icon>
          <p matLine *ngIf="isExpanded">Sinf qo'shish</p>
        </a>

        <a mat-list-item (click)="toggleActive($event)" routerLink="/fan">
          <mat-icon mat-list-icon>school</mat-icon>
          <p matLine *ngIf="isExpanded">Fan qo'shish</p>
        </a>

        <a mat-list-item (click)="toggleActive($event)" routerLink="/dars">
          <mat-icon mat-list-icon>local_library</mat-icon>
          <p matLine *ngIf="isExpanded">Dars qo'shish</p>
        </a>

        <a mat-list-item (click)="toggleActive($event)" routerLink="/togarak">
          <mat-icon mat-list-icon>assignment_ind</mat-icon>
          <p matLine *ngIf="isExpanded">Togarak qo'shish</p>
        </a>

        <mat-divider></mat-divider>

        <a mat-list-item (click)="toggleActive($event)" routerLink="/uquvYili">
          <mat-icon mat-list-icon>calendar_today</mat-icon>
          <p matLine *ngIf="isExpanded">O'quv yili</p>
        </a>
        <a mat-list-item (click)="toggleActive($event)" routerLink="/xona">
          <mat-icon mat-list-icon>store_mall_directory</mat-icon>
          <p matLine *ngIf="isExpanded">Xonalar +add</p>
        </a>

      </mat-nav-list>
    </mat-sidenav>

    <div class="example-sidenav-content">
      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-container>
</div>

<!-- Copyright 2017 Google Inc. All Rights Reserved.
  Use of this source code is governed by an MIT-style license that
  can be found in the LICENSE file at http://angular.io/license -->