<br><br>
<div class="container">
  <div class="row">
   <div class="col-md-6 col-12"> 

      <mat-accordion>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              + Qo'shish
            </mat-panel-title>
            <mat-panel-description>
              
            </mat-panel-description>
          </mat-expansion-panel-header>



          <form [formGroup]='createForm' (ngSubmit)='saqlash()'>
            <br><br>
            <!-- <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>ID</mat-label>
            <input matInput placeholder='ID'   value="ID">
          </mat-form-field> -->


            <mat-form-field appearance="fill">
              <mat-label>Boshlangan o'quv yili</mat-label>
              <input formControlName='boshlanganVaqt' matInput [matDatepicker]="picker">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Yakuniy o'quv yili</mat-label>
              <input matInput formControlName='tugaganVaqt' [matDatepicker]="picker1">
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>

            <div class="example-form">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Izoh qoldiring
                </mat-label>
                <textarea matInput maxlength="8" formControlName='izoh'
                  placeholder="8 ta belgidan ko'p bo'lmagan izoh yozing"></textarea>
              </mat-form-field>
            </div>
            <br>
            <button mat-raised-button color="primary">Saqlash</button>
            <button type="reset" id="btn1" mat-raised-button color="warn">Tozalash</button>
          </form>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        
        
        </mat-expansion-panel>
      </mat-accordion>
    </div> 
  <div class="col-md-6  col-12"> 
      <table class="table table-striped table-inverse table-responsive">
        <thead class="thead-inverse">
          <tr>
            <!-- <th>ID</th> -->
            <th>Boshlangan vaqt</th>
            <th>Tugagan vaqt</th>
            <th>Izoh</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let uq of uquv">
            <!-- <td scope="row">{{uq.id}}</td> -->
            <td>{{uq.boshlanganVaqt}}</td>
            <td>{{uq.tugaganVaqt}}</td>
            <td>{{uq.izoh}}</td>

            <td><button mat-mini-fab color="primary" (click)="ochirish(uq.id)">
                <mat-icon>delete_sweep</mat-icon>
              </button>

              <button mat-mini-fab (click)="tahrirlashniBoshlash(uq)">
                <mat-icon>edit</mat-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
     </div>
 
 </div> 
 </div> 