#btn1{
    margin-left: 10px;
}
table tr th {
    font-weight: 500;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    font: normal;
    cursor: no-drop;
   
}
.form-group label{
    font-weight: 900;
   margin-left: 8px;
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-style: normal;
   font: normal;
}

