<div class="container">
<div class="row">
<div class="col-md-6 col-12">

    <table class="table table-striped table-inverse table-responsive">
        <thead class="thead-inverse">
            <tr>
                <th>ID</th>
                <th>Soat</th>
                <th>Fanlar</th>
                <th>O'qituvchi</th>
            </tr>
            </thead>
            <tbody>
                <tr *ngFor="let t of togaraklar">
                    <td scope="row">{{t.id}}</td>
                    <td>{{t.soat}}</td>
                    <td>{{t.fan}}</td>
                    <td>{{t.oqtuvchi}}</td>
                    <td><button class="btn btn-danger" (click)="ochirish(t.id)"><i class="fa fa-trash" aria-hidden="true"></i></button></td>
                    <td><button class="btn btn-primary" (click)="ochirish(t.id)"><i class="fa fa-pencil" aria-hidden="true"></i></button></td>
                </tr>
            </tbody>
    </table>
</div>
<div class="col-md-6 col-12">

    <form  [formGroup]='createForm' (ngSubmit)="saqlash()">

<div class="form-group">
  <label for="soat">Soat</label>
  <input formControlName='soat' type="number"  id="soat" class="form-control" placeholder="Soat" >
</div>
<br>
<div class="form-group">
  <label for="fan">Fanlar</label>
  <input formControlName='fan' type="text"  id="fan" class="form-control" placeholder="fanlar" >
</div>
<br>
<div class="form-group">
  <label for="oqtuvchi">O'qituvchi</label>
  <input formControlName='oqtuvchi' type="text"  id="oqtuvchi" class="form-control" placeholder="O'qtuvchi" >
</div>
<br>
<button class="btn btn-success" value="Saqlash">Saqlash</button>
<button id="btn1"  type="reset" class="btn btn-secondary">Tozalash</button>
<!-- The End -->

</form>
</div>
</div>
</div>