
<mat-card>
  <mat-card-header>
    <mat-card-title>O'quvchilar</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-accordion displayMode="default" [multi]="true" [hideToggle]="false">
      <mat-expansion-panel [hideToggle]="false">
        <mat-expansion-panel-header> O'quvchi qo'shish</mat-expansion-panel-header>

        <form [formGroup]="forma" (ngSubmit)="saqlash()">
          <mat-form-field appearance="outline">
            <mat-label>id</mat-label>
            <input readonly formControlName="id" matInput placeholder="id">
            <mat-hint>ID</mat-hint>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Ism</mat-label>
            <input  formControlName="ism" matInput placeholder="Ism">
            <mat-hint>O'quvchini ismi</mat-hint>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Familiya</mat-label>
            <input  formControlName="familiya" matInput placeholder="Familiya">
            <mat-hint>O'quvchi familiya</mat-hint>
          </mat-form-field>
<br>
          <mat-form-field appearance="outline">
            <mat-label>Sharifi</mat-label>
            <input formControlName="sharif" matInput placeholder="Sharif">
            <mat-hint>O'quvchini sharifi</mat-hint>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Yoshi</mat-label>
            <input type="number" formControlName="yosh" matInput placeholder="yosh">
            <mat-hint>O'quvchini Yoshi</mat-hint>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Sinifi</mat-label>
            <input type="number" formControlName="sinf" matInput placeholder="Sinifi">
            <mat-hint>O'quvchini Sinfi</mat-hint>
          </mat-form-field>

        
          <button mat-raised-button color="primary">
            <mat-icon>
              add
            </mat-icon>
            Saqlash
          </button>
        </form>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
</mat-card>
<!--  -->

<mat-card>
  <mat-card-content>
<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade" *ngIf="isLoadingResults || isRateLimitReached">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
      Ma'lumot kelishining imkoni bo'lmadi
    </div>
  </div>
  <div class="example-table-container">


    <mat-form-field appearance="standard">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="qidirish($event)" placeholder="Ex. Mia" #input>
    </mat-form-field>


    <table mat-table [dataSource]="data" class="example-table" matSort matSortActive="id" matSortDisableClear
      matSortDirection="desc">

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef  mat-sort-header sortActionDescription="Sort by name">ID</th>
        <td mat-cell *matCellDef="let row">{{row.id}}</td>
      </ng-container>

      <ng-container matColumnDef="ism">
        <th mat-header-cell *matHeaderCellDef>Ismi</th>
        <td mat-cell *matCellDef="let row">{{row.ism}}</td>
      </ng-container>

      <ng-container matColumnDef="familiya">
        <th mat-header-cell *matHeaderCellDef>Familiyasi</th>
        <td mat-cell *matCellDef="let row">{{row.familiya}}</td>
      </ng-container>

      <ng-container matColumnDef="sharif">
        <th mat-header-cell *matHeaderCellDef>Sharifi</th>
        <td mat-cell *matCellDef="let row">{{row.sharif}}</td>
      </ng-container>

      <ng-container matColumnDef="yosh">
        <th mat-header-cell *matHeaderCellDef>Yoshi</th>
        <td mat-cell *matCellDef="let row">{{row.yosh}}</td>
      </ng-container>

      <ng-container matColumnDef="sinf">
        <th mat-header-cell *matHeaderCellDef>Sinf nomi</th>
        <td mat-cell *matCellDef="let row">{{row.sinf}}</td>
      </ng-container>

      <ng-container matColumnDef="amal">
        <th mat-header-cell *matHeaderCellDef>Amal</th>
        <td mat-cell *matCellDef="let row">
          <button mat-mini-fab color="primary" (click)="edit(row)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-mini-fab color="warn" (click)="delete(row)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <mat-paginator [length]="resultsLength" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Paginator">
  </mat-paginator>
</div>
</mat-card-content>
</mat-card>