

<nav class="navbar navbar-expand-sm navbar-light bg-primary">
  <a class="navbar-brand" routerLink="/boshSahifa"> Bosh Sahifa</a>
  <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
      aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavId">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="navbar-brand" routerLink="/oqituvchilar">O'qituvchilar <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="navbar-brand" routerLink="/oquvchilar">O'quvchilar</a>
      </li>
      <li class="nav-item">
        <a class="navbar-brand" routerLink="/xona">Xonalar</a>
      </li>
      <li class="nav-item">
        <a class="navbar-brand" routerLink="/togarak">To'garaklar</a>
      </li>
      <li class="nav-item">
        <a class="navbar-brand" routerLink="/info">Bog'lanish</a>
      </li>
    </ul>
   
  </div>
</nav>


