<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav (click)="sidenav.toggle()">

    <p class="menu-item-list">
      <a routerLink="/boshSahifa">
        <button mat-stroked-button style="width: 100%;">
          <br>
          <mat-icon style="font-size: 50px; color: rgb(255, 255, 255); margin-top: -57px; margin-left: -35px;">home
          </mat-icon><span>
          </span>
        </button>
      </a>

    </p>
    <p class="menu-item">
      <a routerLink="/oqituvchilar">
        <button mat-icon-button>
          <mat-icon></mat-icon><span>O‘qituvchilarga</span>
        </button>
      </a>
    </p>
    <p class="menu-item">
      <a routerLink="/oquvchilar">
        <button mat-icon-button>
          <mat-icon></mat-icon><span>O‘quvchilarga</span>
        </button>
      </a>
    </p>
    <p>
    <p class="menu-item">
      <a routerLink="/togarak">
        <button mat-icon-button>
          <mat-icon></mat-icon><span> To'garaklar</span>
        </button>
      </a>

    </p>
    <p class="menu-item">
      <a routerLink="/xona">
        <button mat-icon-button>
          <mat-icon></mat-icon><span> Xonalar</span>
        </button>
      </a>
    </p>

    <p class="menu-item">
      <a routerLink="/more">
        <button mat-icon-button>
          <mat-icon></mat-icon><span>More</span>
        </button>
      </a>
    </p>

  </mat-sidenav>
  <mat-sidenav-content>

    <mat-toolbar class="fafaVirus" color="primary">
      <button mat-button (click)="sidenav.open()" id="menu-button" mat-icon-button class="example-icon"
        aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
     <a style="color: white; text-decoration: none;" routerLink="/boshSahifa"> <span >Maktab19.uz</span></a>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">

      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">

        <mat-icon routerLink="/login">login</mat-icon>

      </button>
      <a style="color: white; text-decoration: none;" routerLink="/login"> <span>Login</span></a>
    </mat-toolbar>



    <div class="internal-container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>