<br><br>
<div class="container">
  <div class="row">

    <div class="col-md-6 col-12">
      <mat-accordion>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title style="color: red;">
              + Qo'shish
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <form [formGroup]='createForm' (ngSubmit)='saqlash()'>
            <br><br>
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>ID</mat-label>
              <input matInput placeholder="ID" value="ID" readonly disabled>
            </mat-form-field>
            <br>
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Sig'imi</mat-label>
              <input type="number" matInput formControlName='sigim' matInput placeholder="Sig'imi">
              <mat-hint>Sig'imi</mat-hint>
            </mat-form-field>
            <br>
            <br>
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Nom</mat-label>
              <input matInput formControlName='nom' matInput placeholder="Nomini kiriting">
              <mat-hint>Nomini kiriting</mat-hint>
            </mat-form-field>
            <br>
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Bino</mat-label>
              <input matInput formControlName='bino' matInput placeholder="Binosi kiriting">
              <mat-hint>Binosi</mat-hint>
            </mat-form-field>
            <br>
            <button mat-raised-button color="primary">Saqlash</button>
            <button type="reset" id="btn1" mat-raised-button color="warn">Tozalash</button>
          </form>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div class="col-md-6  col-12">
      <br>
      <table class="table table-striped table-inverse table-responsive">
        <thead class="thead-inverse">
          <tr>
            <th>ID</th>
            <th>Sigim</th>
            <th>Nom</th>
            <th>Bino</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let x of xonalar">
            <td scope="row">{{x.id}}</td>
            <td>{{x.sigim}}</td>
            <td>{{x.nom}}</td>
            <td>{{x.bino}}</td>

            <td><button mat-mini-fab color="primary" (click)="ochirish(x.id)">
                <mat-icon>delete_sweep</mat-icon>
              </button>

              <button mat-mini-fab (click)="tahrirlashniBoshlash(x)">
                <mat-icon>edit</mat-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>