<div class="container">
    <div class="row">
    
    <div class="col-md-6 col-12">
    
    <table class="table table-striped table-inverse table-responsive">
      <thead class="thead-inverse">
        <tr>
          <th>ID</th>
          <th>Sigim</th>
          <th>Nom</th>
          <th>Bino</th>
          
        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let x of xonalar">
            <td scope="row">{{x.id}}</td>
            <td>{{x.sigim}}</td>
            <td>{{x.nom}}</td>
            <td>{{x.bino}}</td>       
            <td><button class="btn btn-danger" (click)="ochirish(x.id)"><i class="fa fa-trash" aria-hidden="true"></i></button> </td>
            <td><button class="btn btn-primary" (click)="ochirish(x.id)"><i class="fa fa-pencil" aria-hidden="true"></i></button> </td>
          </tr> 
        </tbody>
    </table>
    </div>
    
    
    <div class="col-md-6  col-12">
    <form [formGroup]='createForm' (ngSubmit)='saqlash()'>
    <div class="form-group">
      <label for="sigim">Sigim</label>
      <input formControlName='sigim'  type="number"  id="sigim" class="form-control" placeholder="Sigimni kiriting" >
    </div>
    <br>
    <div class="form-group">
      <label for="nom">Nom</label>
      <input formControlName='nom'  type="text"  id="nom" class="form-control" placeholder="Nomini kiriting" >
    </div>
    <br>
    <div class="form-group">
      <label for="bino">Binosi</label>
      <input formControlName='bino'  type="text"  id="bino" class="form-control" placeholder="Xona qaysi binoda joylashgan ?" >
    </div>
    <br>
    <button  class="btn btn-success" value="saqlash">Saqlash</button>
     <button id="btn1" type="reset" class="btn btn-secondary">Tozalash</button>
    
    </form>
    </div>
    </div>
    </div>