<mat-card>
	<mat-card-title>Login</mat-card-title>
	<mat-card-content>
		<form [formGroup]="loginForm" (onSubmit)="login()">
			<p>
				<mat-form-field>
					<input type="text" matInput placeholder="Username" formControlName="login">
				</mat-form-field>
			</p>
			<p>
				<mat-form-field>
					<input type="password" matInput placeholder="Password" formControlName="parol">
				</mat-form-field>
			</p>
			<p *ngIf="error" class="error">
				{{ error }}
			</p>
			<div class="button">
				<button (click)="login()" type="submit" mat-button>Login</button>
			</div>
		</form>
	</mat-card-content>
</mat-card>