<!-- <br><br>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-12">
      <mat-accordion>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title style="color: red;">
              + Qo'shish
            </mat-panel-title>
            <mat-panel-description>

            </mat-panel-description>
          </mat-expansion-panel-header>

          <form [formGroup]='createForm' (ngSubmit)='saqlash()'>
             <br><br>
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>ID</mat-label>
              <input matInput placeholder="ID" value="ID">
            </mat-form-field> 

            <br>
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Ism</mat-label>
              <input matInput formControlName='ism' matInput placeholder="Ismni kiriting">
              <mat-hint>Ismni kiriting</mat-hint>
            </mat-form-field>
            <br>
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Familiya</mat-label>
              <input matInput formControlName='familiya' matInput placeholder="Familiya kiriting">
              <mat-hint>Familiya kiriting</mat-hint>
            </mat-form-field>
            <br>
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Sharifi</mat-label>
              <input matInput formControlName='sharif' matInput placeholder="Sharifi kiriting">
              <mat-hint>Sharifi kiriting</mat-hint>
            </mat-form-field>
            <br>
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Yosh</mat-label>
              <input type="number" matInput formControlName='yosh' matInput placeholder="Yosh kiriting">
              <mat-hint>Yoshni kiriting</mat-hint>
            </mat-form-field>
            <br>
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Sinf</mat-label>
              <input type="number" matInput formControlName='sinf' matInput placeholder="Sinifi kiriting">
              <mat-hint>Sinifi kiriting</mat-hint>
            </mat-form-field>
            <br>
            <button mat-raised-button color="primary">Saqlash</button>
            <button type="reset" id="btn1" mat-raised-button color="warn">Tozalash</button>

          </form>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div class="col-md-6  col-6">
      <table class="table table-striped table-inverse table-responsive">
        <thead class="thead-inverse">
          <tr>
            <th>ID</th>
            <th>Ism</th>
            <th>Familiya</th>
            <th>Sharif</th>
            <th>Yosh</th>
            <th>Sinf</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let o of uquvchilar">
            <td scope="row">{{o.id}}</td>
            <td>{{o.ism}}</td>
            <td>{{o.familiya}}</td>
            <td>{{o.sharif}}</td>
            <td>{{o.yosh}}</td>
            <td>{{o.sinf}}</td>
            <td><button mat-mini-fab color="primary" (click)="ochirish(o.id)">
                <mat-icon>delete_sweep</mat-icon>
              </button>

              <button mat-mini-fab (click)="tahrirlashniBoshlash(o)">
                <mat-icon>edit</mat-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div> -->



<mat-card>
  <mat-card-header>
    <mat-card-title>Sinflar</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-accordion displayMode="default" [multi]="true" [hideToggle]="false">
      <mat-expansion-panel [hideToggle]="false">
        <mat-expansion-panel-header>Yangi sinf qo'shish</mat-expansion-panel-header>

        <form [formGroup]="forma" (ngSubmit)="saqlash()">
          <mat-form-field appearance="outline">
            <mat-label>id</mat-label>
            <input readonly formControlName="id" matInput placeholder="id">
            <mat-hint>ID</mat-hint>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Ism</mat-label>
            <input formControlName="ism" matInput placeholder="Ism">
            <mat-hint>O'quvchini ismi</mat-hint>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Familiya</mat-label>
            <input formControlName="familiya" matInput placeholder="Familiya">
            <mat-hint>O'quvchi familiya</mat-hint>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Sharifi</mat-label>
            <input formControlName="sharif" matInput placeholder="Sharif">
            <mat-hint>O'quvchini sharifi</mat-hint>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Yoshi</mat-label>
            <input type="number" formControlName="yosh" matInput placeholder="yosh">
            <mat-hint>O'quvchini Yoshi</mat-hint>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Sinifi</mat-label>
            <input type="number" formControlName="sinf" matInput placeholder="Sinifi">
            <mat-hint>O'quvchini Sinfi</mat-hint>
          </mat-form-field>

        
          <button mat-raised-button color="primary">
            <mat-icon>
              qo'shish
            </mat-icon>
            Saqlash
          </button>
        </form>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
</mat-card>


<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade" *ngIf="isLoadingResults || isRateLimitReached">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
      Ma'lumot kelishining imkoni bo'lmadi
    </div>
  </div>
  <div class="example-table-container">
    <table mat-table [dataSource]="data" class="example-table" matSort matSortActive="id" matSortDisableClear
      matSortDirection="desc">

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let row">{{row.id}}</td>
      </ng-container>

      <ng-container matColumnDef="ism">
        <th mat-header-cell *matHeaderCellDef>Ismi</th>
        <td mat-cell *matCellDef="let row">{{row.ism}}</td>
      </ng-container>

      <ng-container matColumnDef="familiya">
        <th mat-header-cell *matHeaderCellDef>Familiyasi</th>
        <td mat-cell *matCellDef="let row">{{row.familiya}}</td>
      </ng-container>

      <ng-container matColumnDef="sharif">
        <th mat-header-cell *matHeaderCellDef>Sharifi</th>
        <td mat-cell *matCellDef="let row">{{row.sharif}}</td>
      </ng-container>

      <ng-container matColumnDef="yosh">
        <th mat-header-cell *matHeaderCellDef>Yoshi</th>
        <td mat-cell *matCellDef="let row">{{row.yosh}}</td>
      </ng-container>

      <ng-container matColumnDef="sinf">
        <th mat-header-cell *matHeaderCellDef>Sinf nomi</th>
        <td mat-cell *matCellDef="let row">{{row.sinf}}</td>
      </ng-container>

      <ng-container matColumnDef="amal">
        <th mat-header-cell *matHeaderCellDef>Amal</th>
        <td mat-cell *matCellDef="let row">
          <button mat-mini-fab color="primary" (click)="edit(row)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-mini-fab color="primary" (click)="delete(row)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <mat-paginator [length]="resultsLength" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Paginator">
  </mat-paginator>
</div>