#btn1{
    margin-left: 5px;
}
table tr th {
    font-weight: 500;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: no-drop;
   
}
.form-group label{
    font-weight: 800;
   margin-left: 8px;
   font-family: Georgia, 'Times New Roman', Times, serif;
   
}

.mat-radio-button ~ .mat-radio-button {  
    margin-left: 16px;  
  }  

  .tp-button-row button,
  .tp-button-row a {
     margin-right: 8px;
  }
 
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  