<mat-toolbar style="background-color: #0f172a" >
<mat-toolbar-row class="justify-content-between">
    
    <button style="color: white;" mat-icon-button (click)="toggleSidebar()"><mat-icon>menu</mat-icon></button>
<div class="row mr-2 ml-auto">
    <ul>
        <li>
            <button (click)="chiqish()" mat-button class="user mt-2 d-flex align-items-center">
             <mat-icon>exit_to_app</mat-icon>
                Chiqish
            </button>


            <mat-menu #menu="matMenu">
            <button mat-menu-item>
              
            </button>
        </mat-menu>
        </li>
    </ul>
</div>

</mat-toolbar-row>

</mat-toolbar>