<mat-grid-list cols="3" >
<mat-grid-tile>
<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>E.SH</mat-card-title>
      <mat-card-subtitle>Direktor</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR7Y74hvsAEL5I-so7n7BUPUlVQfF9jFcTTmg&usqp=CAU" alt="Photo of a Shiba Inu">
    <mat-card-content>
        
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>Ulashish</button>
    </mat-card-actions>
  </mat-card>
</mat-grid-tile>
<mat-grid-tile>
    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>E.SH</mat-card-title>
          <mat-card-subtitle>Direktor</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR7Y74hvsAEL5I-so7n7BUPUlVQfF9jFcTTmg&usqp=CAU" alt="Photo of a Shiba Inu">
        <mat-card-content>
            
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>Ulashish</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>E.SH</mat-card-title>
              <mat-card-subtitle>Direktor</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR7Y74hvsAEL5I-so7n7BUPUlVQfF9jFcTTmg&usqp=CAU" alt="Photo of a Shiba Inu">
            <mat-card-content>
                
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>Ulashish</button>
            </mat-card-actions>
          </mat-card>
        </mat-grid-tile>
</mat-grid-list>