<table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Ism</th>
        <th>Familiya</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td scope="row">1</td>
        <td>Sardor</td>
        <td>Haydarov</td>
      </tr>
      <tr>
        <td scope="row">2</td>
        <td>Alibek</td>
        <td>Ganiyev</td>
      </tr>
      <tr>
        <td scope="row">3</td>
        <td>Jahongir</td>
        <td>Otajonov</td>
      </tr>
      <tr>
        <td scope="row">4</td>
        <td>Munisa</td>
        <td>Rizayeva</td>
      </tr>
      <tr>
        <td scope="row">5</td>
        <td>Ahad</td>
        <td>Qayum</td>
      </tr>
      
    </tbody>
  </table>

