<div class="container">
<div class="row">
<div class="col-md-6  col-12 ">
  <table class="table table-striped table-inverse table-responsive">
    <thead class="thead-inverse">
      <tr>
        <th>ID</th>
        <th>Ism</th>
        <th>Familiya</th>
        <th>Yosh</th>
        <th>Jinsi</th>
        <th>Maosh</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let u of uqituvchilar">
        <td scope="row">{{u.id}}</td>
        <td>{{u.ism}}</td>
        <td>{{u.familiya}}</td>
        <td>{{u.yosh}}</td>
        <td>{{u.jins}}</td>     
       <td>{{u.maosh}}</td>  
      <td><button class="btn btn-danger" (click)="ochirish(u.id)"><i   class="fa fa-trash" aria-hidden="true"></i></button> </td>
      <td><button class="btn btn-primary" (click)="ochirish(u.id)"><i class="fa fa-pencil" aria-hidden="true"></i></button> </td>
        
      </tr>
    </tbody>
  </table>
</div>
<div class="col-md-6 col-12 ">
  <form  [formGroup]='createForm' (ngSubmit)="saqlash()">
<div class="form-group">
<label for="ism">Ism</label>
<input formControlName='ism' type="text" id="ism" class="form-control" placeholder="Ismni kiriting">
<br>
</div>
<div class="form-group">
<label for="familiya">Familiya</label>
<input formControlName='familiya' type="text" id="familiya" class="form-control" placeholder="Familiyani kiriting">
<br>
</div>
<div class="form-group">
<label for="yosh">Yosh</label>
<input formControlName='yosh' type="number" id="yosh" class="form-control" placeholder="Yoshingizni kiriting">
<br>
</div>
<div class="form-group">
<label for="jins">Jins</label>
<input formControlName='jins' type="text" id="jins" class="form-control" placeholder="Jinsingizni kiriting">
<br>
</div>
<div class="form-group">
<label for="maosh">Maosh</label>
<input formControlName='maosh' type="number" id="maosh" class="form-control" placeholder="Maoshni kiriting">
</div>
<br>
<button class="btn btn-success" value="Saqlash">Saqlash</button>
<button id="btn1"  type="reset" class="btn btn-secondary">Tozalash</button>
<!-- The End -->
</form>
</div>
</div>
</div>