<mat-card>
  <mat-card-header>
    <mat-card-title>Darslar</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-accordion displayMode="default" [multi]="true" [hideToggle]="false">
      <mat-expansion-panel [hideToggle]="false">
        <mat-expansion-panel-header>Yangi Dars qo'shish</mat-expansion-panel-header>

        <form [formGroup]="forma" (ngSubmit)="saqlash()">

          <mat-form-field appearance="outline">
            <mat-label>id</mat-label>
            <input matInput placeholder="id" disabled>
            <mat-hint>id</mat-hint>
          </mat-form-field>


          <mat-form-field appearance="outline">
            <mat-label>O'qituvchilar</mat-label>
            <mat-select matInput formControlName='uqtuvchi'>
              <mat-option *ngFor="let o of oqituvchilar" [value]="o">
                {{o.ism + ' ' + o.familiya}}
              </mat-option>
            </mat-select>
            <mat-hint>O'qituvchini tanlang</mat-hint>
          </mat-form-field>


          <mat-form-field appearance="outline">
            <mat-label>O'quvchilar</mat-label>
            <mat-select matInput formControlName='uquvchi'>
              <mat-option *ngFor="let o of oquvchilar" [value]="o">
                {{o.ism + ' ' + o.familiya}}
              </mat-option>
            </mat-select>
            <mat-hint>O'qituvchini tanlang</mat-hint>
          </mat-form-field>
          <br>

          <mat-form-field appearance="outline">
            <mat-label>Sinf</mat-label>
            <mat-select matInput formControlName='sinfxona'>
              <mat-option *ngFor="let sinf of sinflar" [value]="sinf">
                {{sinf.nom}}
              </mat-option>
            </mat-select>
            <mat-hint>Sinfni tanlang</mat-hint>
          </mat-form-field>


          <mat-form-field appearance="outline">
            <mat-label>Fan </mat-label>
            <mat-select matInput formControlName='fan'>
              <mat-option *ngFor="let fan of fanlar" [value]="fan">
                {{fan.nom}}
              </mat-option>
            </mat-select>
            <mat-hint>Xonani tanlang</mat-hint>
          </mat-form-field>


          <mat-form-field appearance="outline">
            <mat-label>xona </mat-label>
            <mat-select matInput formControlName='xona'>
              <mat-option *ngFor="let xona of xonalar" [value]="xona">
                {{xona.nom}}
              </mat-option>
            </mat-select>
            <mat-hint>Xonani tanlang</mat-hint>
          </mat-form-field>




          <button mat-raised-button color="primary">
            <mat-icon>
              add
            </mat-icon>
            Saqlash
          </button>
        </form>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
</mat-card>


<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade" *ngIf="isLoadingResults || isRateLimitReached">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
      Ma'lumot kelishining imkoni bo'lmadi
    </div>
  </div>
  <div class="example-table-container">
    <table mat-table [dataSource]="data" class="example-table" matSort matSortActive="id" matSortDisableClear
      matSortDirection="desc">

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number">ID</th>
        <td mat-cell *matCellDef="let row">{{row.id}}</td>
      </ng-container>

      <ng-container matColumnDef="uqtuvchi">
        <th mat-header-cell *matHeaderCellDef>O'qtuvchilar</th>
        <td mat-cell *matCellDef="let row">{{row.uqtuvchi?.ism}} {{row.uqtuvchi?.familiya}}</td>
      </ng-container>

      <ng-container matColumnDef="uquvchi">
        <th mat-header-cell *matHeaderCellDef>O'quvchilar</th>
        <td mat-cell *matCellDef="let row">{{row.uquvchi?.ism}} {{row.uquvchi?.familiya}}</td>
      </ng-container>

      <ng-container matColumnDef="fan">
        <th mat-header-cell *matHeaderCellDef>Fanlar</th>
        <td mat-cell *matCellDef="let row">{{row.fan?.nom}}</td>
      </ng-container>

      <ng-container matColumnDef="sinfxona">
        <th mat-header-cell *matHeaderCellDef>Sinflar</th>
        <td mat-cell *matCellDef="let row">{{row.sinfxona?.nom}}</td>
      </ng-container>



      <ng-container matColumnDef="xona">
        <th mat-header-cell *matHeaderCellDef>Xonalar</th>
        <td mat-cell *matCellDef="let row">{{row.xona?.nom}}</td>
      </ng-container>



      <ng-container matColumnDef="amal">
        <th mat-header-cell *matHeaderCellDef>Amal</th>
        <td mat-cell *matCellDef="let row">
          <button mat-mini-fab color="primary" (click)="edit(row)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-mini-fab color="warn" (click)="delete(row)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <mat-paginator [length]="resultsLength" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Paginator">
  </mat-paginator>
</div>