<mat-nav-list>


   <a routerLink="/boshSahifa"> <mat-icon class="icn">home</mat-icon></a>

<mat-divider></mat-divider>
<h2 matSubheader class="mt-2">APPLICATIONS</h2>
<a mat-list-item routerLink="/dashboard" routerLinkActive="list-item-active"><mat-icon>dashboard</mat-icon>Dashboard</a>

<a mat-list-item routerLink="/oqituvchilar" routerLinkActive="list-item-active"> <mat-icon>account_box</mat-icon>O'qituvchilar</a>
<a mat-list-item routerLink="/oquvchilar"  ><mat-icon>supervisor_account</mat-icon> O'quvchilar</a>
<a mat-list-item routerLink="/sinf" ><mat-icon>wc</mat-icon>Sinf qo'shish</a>
<a mat-list-item  routerLink="/fan"><mat-icon>school</mat-icon>Fan qo'shish</a>
<a mat-list-item  routerLink="/dars"><mat-icon>local_library</mat-icon>Dars qo'shish</a>
<a mat-list-item  routerLink="/togarak"><mat-icon>assignment_ind</mat-icon>To'garak</a>
<a mat-list-item  routerLink="/xona"><mat-icon>store_mall_directory</mat-icon>Xonalar Add</a>
<a mat-list-item  routerLink="/uquvYili"><mat-icon>calendar_today</mat-icon>O'quv yili</a>