 @import "~bootstrap/dist/css/bootstrap.css";
 @import "~@angular/material/prebuilt-themes/indigo-pink.css";

 /* @import "~@angular/material/prebuilt-themes/indigo-pink.css";
 @import "~@fontsource/material-icons/index.css";
 @import '@angular/material/prebuilt-themes/deeppurple-amber.css';
 
 
 @import './scss/material';
 @import './scss/utils';
 @import './scss/responsive';
 @import './scss/variables';
 @import './scss/theme';
   */
 
 html, body { 
     min-height: 100vh;
     height: 100%;
     margin: 0; }
 body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
 
 .notif-success{
     background-color: rgb(53, 194, 72);
     color: white;
     
 }
 
 html, body { height: 100%; }
 body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
 
