
/* General/reset styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  color: #333;
}

.new-section {
  padding-top: 50px;
  text-align: center;
  font-size: 4em;
  font-weight: 100;
}

/* Header styles */
header {
  position: relative;
  text-align: center;
  height: 40vh;
  background: linear-gradient(to right, #69bcf4, #30cc8b);
  color: #fff;
}
header h1 {
  padding-top: 100px;
  font-weight: 100;
}
header h2 {
  font-size: 2em;
}


.example-card {
  max-width: 400px;
}







@media (max-width: 759px) {
  header h1 {
    font-size: 5em;
  }
  
  .new-section {
    font-size: 3em;
  }
  
  .scroll-animations {
    display: block;
  }
  
  .scroll-animations div {
    padding: 20px 80px;
  }
  
  .click-animations input,
  .click-animations textarea,
  .click-animations button {
    width: 80%;
  }
}

@media (max-width: 475px) {
  .new-section {
    font-size: 2.5em;
  } 
  
  header h1 {
    font-size: 3.2em;
  }
  
  header h2,
  .funky-animations h3 {
    font-size: 1.5em;
  }
  
}

.slide {
  background: #F1F5F9;
  border: 2px dashed #CBD5E1;
  border-radius: 20px;
  padding: 40px;
  text-align: center;
  font-size: 2rem;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 900;
  letter-spacing: -.05em;
  text-transform: uppercase;
}






