<!-- <br><br><br> -->


<div class="btn btn-danger" style=" background-color: #2c292f;" id="bloc1">
    <h1 id="tag2">GRADUATE SCHOOL OF MANAGEMENT</h1>
    <h2 class="tag1"><br>
        <p>YOUR</p> CLASSROOM
    </h2>
</div>

<section class="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-12">
                <div class="features-post">
                    <div class="features-content">
                        <div class="content-show">
                            <h4><i class="fa fa-pencil"></i>All Courses</h4>
                        </div>
                        <div class="content-hide">
                            <p>Curabitur id eros vehicula, tincidunt libero eu, lobortis mi. In mollis eros a posuere
                                imperdiet. Donec maximus elementum ex. Cras convallis ex rhoncus, laoreet libero eu,
                                vehicula libero.</p>
                            <p class="hidden-sm">Curabitur id eros vehicula, tincidunt libero eu, lobortis mi. In mollis
                                eros a posuere imperdiet.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-12">
                <div class="features-post second-features">
                    <div class="features-content">
                        <div class="content-show">
                            <h4><i class="fa fa-graduation-cap"></i>Virtual Class</h4>
                        </div>
                        <div class="content-hide">
                            <p>Curabitur id eros vehicula, tincidunt libero eu, lobortis mi. In mollis eros a posuere
                                imperdiet. Donec maximus elementum ex. Cras convallis ex rhoncus, laoreet libero eu,
                                vehicula libero.</p>
                            <p class="hidden-sm">Curabitur id eros vehicula, tincidunt libero eu, lobortis mi. In mollis
                                eros a posuere imperdiet.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-12">
                <div class="features-post third-features">
                    <div class="features-content">
                        <div class="content-show">
                            <h4><i class="fa fa-book"></i>Real Meeting</h4>
                        </div>
                        <div class="content-hide">
                            <p>Curabitur id eros vehicula, tincidunt libero eu, lobortis mi. In mollis eros a posuere
                                imperdiet. Donec maximus elementum ex. Cras convallis ex rhoncus, laoreet libero eu,
                                vehicula libero.</p>
                            <p class="hidden-sm">Curabitur id eros vehicula, tincidunt libero eu, lobortis mi. In mollis
                                eros a posuere imperdiet.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<br>
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-12">

            <div class="card">
                <div class="card-header">
                    <b>
                        Curabitur id eros vehicula, tincidunt libero eu, lobortis mi. In mollis eros a posuere
                        imperdiet.
                        Donec maximus elementum ex. Cras convallis ex rhoncus, laoreet libero eu, vehicula libero.
                        Curabitur id eros vehicula, tincidunt libero eu, lobortis mi. In mollis eros a posuere
                        imperdiet.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem nostrum provident aliquam nisi
                        at officia aspernatur sunt eligendi consequuntur eveniet, sequi, labore doloremque perspiciatis!
                        Modi vitae voluptates quibusdam? Aspernatur, fugiat?
                    </b>
                </div>
                <div class="card-body">
                    <h4 class="card-title ">Shahrisabz Shahar 19-maktab Haydarov Sardor</h4>
                    <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum quam dolorem
                        distinctio earum ipsa? Atque, mollitia blanditiis esse fugit, odio ipsa quod dolore sint est, ut
                        cumque rerum aut consectetur.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente odit optio blanditiis, aut in
                        asperiores labore quis commodi cum error temporibus consectetur praesentium amet quae quas? Quod
                        assumenda vero exercitationem!
                    </p>
                </div>
                <div class="card-footer text-muted">
                    GRADUATE SCHOOL OF MANAGEMENT
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente odit optio
                        blanditiis, aut in
                        asperiores labore quis commodi cum error temporibus consectetur praesentium amet quae quas? Quod
                        assumenda vero exercitationem!</p>
                    <a href="#" class="btn btn-primary">Batafsil</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente odit optio
                        blanditiis, aut in
                        asperiores labore quis commodi cum error temporibus consectetur praesentium amet quae quas? Quod
                        assumenda vero exercitationem!</p>
                    <a href="#" class="btn btn-primary">Batafsil</a>
                </div>
            </div>
        </div>
    </div>
</div>









<!-- The content of your page would go here. -->

<footer class="footer-distributed">

    <div class="footer-left">
        <img src="https://static.kundalik.com/img/logotypes/uzlogotype.png">
        <h3>kurs<span>Haqida</span></h3>

        <p class="footer-links">
            <a routerLink="/boshSahifa">Bosh sahifa</a>
            |
            <a routerLink="/oquvchilar">O'quvchi</a>
            |
            <a routerLink="/oqituvchilar">O'qituvchi</a>
            |
            <a routerLink="/info">Bog'lanish</a>
        </p>

        <p class="footer-company-name">© 2021 Eduonix Learning idrok.net Pvt. Ltd.</p>
    </div>

    <div class="footer-center">
        <div>
            <i class="fa fa-map-marker"></i>
            <p><span>Shahrisabz 211,
                    Yangibog MFY</span>
                O'zbekiston ko'chasi - 400710</p>
        </div>

        <div>
            <i class="fa fa-phone"></i>
            <p>+998 33 210 05 45</p>
        </div>
        <div>
            <i class="fa fa-envelope"></i>
            <p><a href="sardorkhaydarov099@gmail.com">Gmaildan boglanish</a></p>
        </div>
    </div>
    <div class="footer-right">
        <p class="footer-company-about">
            <span>Kompaniya haqida</span>
            Biz texnologiya, Dasturlash, bo'yicha malaka oshirish kurslarini taklif etamiz.
        </p>
        <div class="footer-icons">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-youtube"></i></a>
        </div>
    </div>
</footer>